$color__light:             white;
$color__dark:              #0151c1;
$color__success:           #0a6600;
$color__warning:           #ff8039;
$color__danger:            #db0000;
$color__neutral:           #242526;
$color__lightDark:         #eefafe;
$color__contentBackground: darken($color__light, 4);
