.default-leave-active, .default-enter-active {
	transition: animation 0.5s, opacity 0.7s;
}

.default-enter-to {
	animation: bounce-in 0.5s;
}

.default-leave-to {
	opacity:   0;
	animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
	0% {
		transform: scale(0);
	}
	70% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}
